<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 Licensed to the Apeihe Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apeihe License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apeihe.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

    <!-- définition de la vue à activer par défaut au lancement de l'application -->
    <welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!-- paramètres de l'application web : pour le controleur -->
    <!-- liste des commandes -->
    <!-- A COMPLETER -->

    <!-- commande pour obtenir la page d'accueil -->
    <context-param>
        <param-name>cmd-accueil</param-name>
		<param-value>cmd.NullCommande;accueil.jsp;all</param-value>
    </context-param>

    <!-- le nom de la commande de login doit etre obligatoirement login -->

    <!-- commande qui permet après une tentative de connexion de valider
	ou non la connexion -->
	<context-param>
        <param-name>cmd-login</param-name>
		<param-value>cmd.CommandeVerifLogin;accueil.jsp;all</param-value>
    </context-param>


	<context-param>
        <param-name>cmd-participant</param-name>
		<param-value>cmd.CommandeParticipant;participants.jsp;all</param-value>
    </context-param>
    <context-param>
        <param-name>cmd-participants</param-name>
		<param-value>cmd.CommandeParticipants;participants.jsp;all</param-value>
    </context-param>
    
	<context-param>
        <param-name>cmd-epreuve</param-name>
		<param-value>cmd.CommandeEpreuve;epreuves.jsp;all</param-value>
    </context-param>
    <context-param>
        <param-name>cmd-epreuves</param-name>
		<param-value>cmd.CommandeEpreuves;epreuves.jsp;all</param-value>
    </context-param>
    
	<context-param>
        <param-name>cmd-inscriptions</param-name>
		<param-value>cmd.CommandeInscriptions;inscriptions.jsp;all</param-value>
    </context-param>
	<context-param>
        <param-name>cmd-inscriptionParticipant</param-name>
		<param-value>cmd.CommandeInscriptionParticipants;inscriptionParticipants.jsp;all</param-value>
    </context-param>
	<context-param>
        <param-name>cmd-inscriptionEpreuve</param-name>
		<param-value>cmd.CommandeInscriptionEpreuves;inscriptionEpreuves.jsp;all</param-value>
    </context-param>

	<context-param>
        <param-name>cmd-participantsMAJ</param-name>
		<param-value>cmd.CommandeParticipants;participantsMAJ.jsp;admin</param-value>
    </context-param>
	<context-param>
		<param-name>cmd-participantMAJ</param-name>
		<param-value>cmd.CommandeParticipant;participantMAJ.jsp;admin</param-value>
	</context-param>
	<context-param>
		<param-name>cmd-participantMAJValid</param-name>
		<param-value>cmd.CommandeParticipantMAJValid;participantMAJValid.jsp;admin</param-value>
	</context-param>
	<context-param>
		<param-name>cmd-participantAdd</param-name>
		<param-value>cmd.NullCommande;participantAdd.jsp;admin</param-value>
	</context-param>
	<context-param>
		<param-name>cmd-participantAddValid</param-name>
		<param-value>cmd.CommandeParticipantAddValid;participantAddValid.jsp;admin</param-value>
	</context-param>
	<context-param>
		<param-name>cmd-participantDelValid</param-name>
		<param-value>cmd.CommandeParticipantDelValid;participantDelValid.jsp;admin</param-value>
	</context-param>

	<!-- <context-param>
        <param-name>cmd-produitsMAJ</param-name>
		<param-value>cmd.CommandeProduits;produitsMAJ.jsp;admin</param-value>
    </context-param>
	<context-param>
        <param-name>cmd-produitMAJValid</param-name>
		<param-value>cmd.CommandeProduitMAJValid;produitMAJValid.jsp;admin</param-value>
    </context-param> -->

   <!-- commande qui permet d'obtenir le formulaire de connexion -->
    <context-param>
        <param-name>cmd-connexion</param-name>
		<param-value>cmd.NullCommande;login.jsp;all</param-value>
    </context-param>
     <context-param>
         <param-name>cmd-deconnect</param-name>
 		<param-value>cmd.Deconnexion;login.jsp;all</param-value>
     </context-param>


    <!-- commande qui permet, en mode connecté, d'obtenir la page
	 erreurDroit.jsp suite à une requête directe vers une JSP
	 ou une requête vers le controleur pour une commande dont
	 le droit n'est pas compatible avec celui de la personne connectée
    -->
    <context-param>
        <param-name>cmd-erreurDroit</param-name>
	<param-value>cmd.NullCommande;erreurs/erreurDroit.jsp;all</param-value>
    </context-param>

    <!-- déclaration de la servlet qui fait le controle de session -->
    <servlet>
      <servlet-name>controleSession</servlet-name>
      <servlet-class>ControleSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>controleSession</servlet-name>
        <url-pattern>/controleSession</url-pattern>
    </servlet-mapping>

    <!-- déclaration du controleur -->
    <servlet>
      <servlet-name>controleur</servlet-name>
      <servlet-class>Controleur</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>/controleur</url-pattern>
    </servlet-mapping>

</web-app>
